@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.topSection {
  @include flex-aligned(center, center);
  @include bg-rgba-colored($color-qatar-red, 0.9);
  @include padded(top, l4);
  @include padded(bottom, l);

  flex: 1;
  flex-direction: column;
  position: relative;

  img {
    max-height: 300px;
  }
  .title {
    @include font-sized(l3);
    @include font-colored($color-grey1);
    @include marged(all, none);
  }
}

.countdown {
  @include bg-rgba-colored($color-grey5, 0.5);
  @include font-colored($color-grey1);
  @include font-sized(l);
  @include marged(all, none);
  @include padded(top, s3);

  position: absolute;
  top: 0;
  min-height: 24px;
  width: 100%;
}

.column {
  flex: 1;
}

.newsSection {
  @include flex-aligned(center, center);
  @include padded(top, m);

  flex-direction: column;
  width: 100%;
}

.newsContainer {
  @include flex-aligned(center, center);

  flex-wrap: wrap;
  z-index: 0;

  &Desktop {
    max-width: 1200px;
  }

  &Mobile {
    width: 100%;
  }
}

.footer {
  @include flex-aligned(center, flex-start);
  @include padded(all, s);
  @include bg-rgba-colored($color-grey1, 0.9);

  bottom: 0;
  left: 0;
  position: sticky;
  border-top: 2px solid $color-grey3;
  flex: 0;
  width: 100%;

  p {
    @include padded(all, none);
    @include marged(all, none);
  }

  .match {
    @include padded(vertical, s3);

    margin: auto;
    max-width: 380px;
  }
}
