@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include padded(vertical, l);
  @include flex-aligned(center, center);

  display: flex;
  flex: 1;

  &Browser {
    @include padded(horizontal, l);
  }

  &Mobile {
    @include font-sized(s);
    @include marged(horizontal, s);
    @include padded(horizontal, none);
  }
}

.rankingContainer {
  flex: 1;
  max-width: 1200px;
}

.rightSection {
  @include padded(horizontal, m);

  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;

  display: flex;
  flex: 1;
  height: 100%;
  max-height: 85vh;
}

.pointsDetails {
  @include flex-aligned(center, center);
  height: 100%;
}

.nickname {
  @include flex-aligned(flex-start, center);

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bold {
    font-weight: bold;
  }
}

.green {
  @include font-colored($color-mint);
  font-weight: bold;
}

.blue {
  @include font-colored($color-qatar-blue);
  font-weight: bold;
}

.lightBlue {
  @include font-colored($color-qatar-lightblue);
  font-weight: bold;
}

.red {
  @include font-colored($color-qatar-red);
  font-weight: bold;
}
.yellow {
  @include font-colored($color-qatar-yellow);
  font-weight: bold;
}
.greyThree {
  @include font-colored($color-grey3);
  font-weight: bold;
}
.orange {
  @include font-colored($color-orange);
  font-weight: bold;
}
.purple {
  @include font-colored($color-purple);
  font-weight: bold;
}
