@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include padded(top, l);
  display: flex;
  flex: 1;

  &Browser {
    @include padded(horizontal, l);
  }

  &Mobile {
    @include padded(horizontal, none);
  }
}

.leftSection {
  display: flex;
  flex: 2;
  flex-direction: column;

  &Browser {
    @include padded(horizontal, m);
  }

  &Mobile {
    @include padded(horizontal, none);
  }
}

.rightSection {
  @include padded(horizontal, m);

  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;

  display: flex;
  flex: 1;
  height: 100%;
  max-height: 85vh;
}
