@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include flex-aligned(center, center);
  height: calc(100vh - 64px);
  flex-direction: column;
  flex: 1;
}

.content {
  @include bg-rgba-colored($color-white, 0.6);
  @include padded(all, m);
  border-radius: 16px;
  width: 300px;

  .title {
    @include aligned(center);
    @include font-sized(l2);
    @include font-colored($color-grey5);
  }
}

.message {
  @include aligned(center);
  @include bg-rgba-colored($color-grey2, 0.5);
  @include font-sized(s);
  @include marged(top, zero);
  @include padded(vertical, s);

  border-radius: 16px;

  &Error {
    @extend .message;
    @include font-colored($color-qatar-red);
  }

  &Success {
    @extend .message;
    @include font-colored($color-qatar-blue);
  }
}
