@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include padded(top, l);
  display: flex;
  flex: 1;

  &Browser {
    @include padded(horizontal, l);
  }

  &Mobile {
    @include padded(horizontal, none);
  }
}

.leftSection {
  display: flex;
  flex: 2;
  flex-direction: column;

  &Browser {
    @include padded(horizontal, m);
  }

  &Mobile {
    @include padded(horizontal, none);
  }
}

.match {
  @include padded(bottom, m);
}

.expandable {
  &NotStarted {
    @include flex-aligned(center, flex-start);
    @include padded(all, s);
    width: 100%;

    &Content {
      flex: 1;

      p {
        @include padded(all, none);
        @include marged(all, none);
      }

      &Image {
        width: 150px;
      }
    }
  }

  &Started {
    @include flex-aligned(center, flex-start);
    @include padded(vertical, s);

    width: 100%;

    &Stadium {
      @include flex-aligned(flex-start, flex-start);

      flex: 0;
      flex-direction: column;

      img {
        width: 54px;
      }
    }

    &Bets {
      flex: 1;
    }
  }
}

.singleBet {
  &Container {
    @include flex-aligned(center, flex-start);
    @include padded(horizontal, s);

    width: 100%;

    &:nth-child(even) {
      @include bg-rgba-colored($color-grey2, 0.4);
      border-radius: 16px;
    }

    &User {
      font-weight: bold;
    }
  }

  &Owner {
    flex: 1;
    text-align: left;
  }
  &Points {
    flex: 1;
    text-align: right;
  }

  &Score {
    flex: 1;
    font-weight: bold;
  }

  &Green {
    @include font-colored($color-mint);
    font-weight: bold;
  }
  &Blue {
    @include font-colored($color-qatar-blue);
    font-weight: bold;
  }
  &LightBlue {
    @include font-colored($color-qatar-lightblue);
    font-weight: bold;
  }
  &Red {
    @include font-colored($color-qatar-red);
    font-weight: bold;
  }
}

.date {
  @include marged(all, none);
  @include padded(vertical, m);
  @include aligned(center);
  @include font-colored($color-grey5);
}

.buttonsContainer {
  @include flex-aligned(space-evenly, center);
  @include marged(bottom, m);
  width: 100%;

  .button {
    width: 60px;
  }
  .icon {
    @include font-sized(l2);
  }
}

.event {
  &Left {
    @include flex-aligned(flex-start, center);
    @include padded(vertical, s3);
  }
  &Right {
    @include flex-aligned(flex-end, center);
    @include padded(vertical, s3);
  }

  &Icon {
    @include padded(horizontal, s2);
    
    display: inline-block;
    flex: 0;
    vertical-align: middle;

    img {
      width: 20px;
    }
  }

  &Minute {
    @include font-sized(s);
    flex: 1;
  }

  &Player {
    cursor: pointer;
    flex: 6;

    &Left {
      @extend .eventPlayer;
      @include aligned(left);
    }
    &Right {
      @extend .eventPlayer;
      @include aligned(right);
    }
  }
}