@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include flex-aligned(center, center);
  flex-wrap: wrap;
  width: 100%;
}

// .contentContainer {
//   @include flex-aligned(center, center);
//   @include padded(vertical, l);

//   flex: 1;
//   width: 40%;

//   &Mobile {
//     max-width: 100%;
//   }
// }

.content {
  @include marged(all, m);
  @include flex-aligned(center, center);
  @include bg-rgba-colored($color-grey1, 0.6);
  @include padded(all, m);

  // flex: 1;
  flex-direction: column;
  border-radius: 16px;
  min-height: 300px;
  // width: 40%;

  img {
    max-height: 100px;
    max-width: 100px;
  }

  p {
    @include aligned(center);
    @include marged(top, none);
    @include marged(bottom, l);
    @include font-sized(l2);
  }

  .teamGroup {
    @include marged(vertical, s3);
    width: 300px;
  }

  &Mobile {
    width: 100%;
  }
}
