@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.fullWidth {
  @include flex-aligned(center, center);
  width: 100%;
}

.container {
  @include flex-aligned(center, center);
  flex-wrap: wrap;

  &Desktop {
    width: 1200px;
  }

  &Mobile {
    width: 100%;
  }
}

.content {
  @include marged(all, m);
  @include flex-aligned(center, center);
  @include bg-rgba-colored($color-grey1, 0.6);
  @include padded(all, m);

  flex-direction: column;
  border-radius: 16px;
  min-height: 300px;

  img {
    max-height: 100px;
    max-width: 100px;
  }

  p {
    @include aligned(center);
    @include marged(top, none);
    @include marged(bottom, l);
    @include font-sized(l2);
  }

  .teamGroup {
    @include marged(vertical, s3);
    width: 300px;
  }

  &Mobile {
    width: 100%;
  }
}
