@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.icon {
  @include font-colored($color-grey4);
}

.buttonContainer {
  @include flex-aligned(center, center);
  @include marged(bottom, s);
}

.extraOptions {
  @include flex-aligned(center, center);
  @include padded(top, s2);

  flex-direction: column;
  flex: 1;

  a {
    @include padded(top, s2);
    @include padded(bottom, s2);

    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      @include font-colored($color-qatar-blue);
    }
  }
}

.message {
  @include bg-rgba-colored($color-grey2, 0.5);
  @include aligned(center);
  @include font-sized(m);
  @include marged(top, zero);
  @include padded(vertical, s);

  border-radius: 16px;

  &Error {
    @include font-colored($color-qatar-red);
  }

  &Success {
    @include font-colored($color-qatar-blue);
  }
}
