@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include bg-rgba-colored($color-white, 0.2);
  @include shadowed(0.3);

  border-radius: 8px;
  border-bottom-left-radius: 0;
  width: 400px;
}
