@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include flex-aligned(flex-start, center);
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.topSection {
  @include flex-aligned(center, center);
  @include padded(vertical, l);
  @include bg-rgba-colored($color-grey1, 0.5);

  border-bottom: 2px solid $color-grey3;
  display: flex;
  flex: 0;
  flex-direction: column;
  width: 100%;

  .title {
    @include aligned(center);
    @include font-sized(l2);
    @include marged(all, none);
  }
}

.cardsContainer {
  @include flex-aligned(center, center);

  flex-wrap: wrap;
  flex: 0;

  h1,
  h2 {
    width: 100%;
  }
}

.card {
  @include padded(all, s);
}

.status {
  width: 140px;
}

.teamsContainer {
  @include flex-aligned(center, flex-start);
  @include padded(vertical, l);

  flex-direction: row;
  flex-wrap: wrap;

  &Mobile {
    width: 100%;
  }

  &Desktop {
    width: 1200px;
  }
}

.team {
  @include padded(all, s2);

  width: 220px;

  &Mobile {
    width: 160px;
  }
}

.titleContainer {
  @include aligned(center);
  @include padded(all, s);
  width: 100%;
}

.teamWithExtras {
  @include marged(all, s2);

  width: 210px;

  &Mobile {
    width: 160px;
  }

  .betsContainer {
    @include marged(horizontal, s3);
    @include padded(all, s);

    @include bg-rgba-colored($color-grey3, 0.5);

    border-radius: 16px;
    border-top-left-radius: 0;

    p {
      @include marged(all, none);
    }

    .loggedUserBet {
      font-weight: bold;
    }
  }
}
