@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include padded(vertical, l);
  @include flex-aligned(center, center);
  flex-direction: column;

  &Browser {
    @include padded(horizontal, l);
  }

  &Mobile {
    @include padded(horizontal, none);
  }
}

.rankingContainer {
  flex: 1;
  max-width: 1024px;
}

.teamsContainer {
  @include flex-aligned(center, center);
  @include padded(vertical, l);

  flex-direction: row;
  flex-wrap: wrap;
}

.team {
  @include padded(all, s2);

  width: 220px;

  &Mobile {
    width: 160px;
  }
}

.cardsContainer {
  @include flex-aligned(center, center);
  flex-wrap: wrap;
}

.card {
  @include padded(all, s);
}

.status {
  width: 140px;
}
