@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";

.container {
  @include flex-aligned(center, center);

  flex: 1;
}

.teamsContainer {
  @include flex-aligned(center, center);
  @include padded(vertical, l);

  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
}

.team {
  @include padded(all, s2);

  width: 220px;

  &Mobile {
    width: 160px;
  }
}

.singleTeam {
  &Container {
    @include flex-aligned(center, center);
    @include padded(vertical, l);

    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  &Header {
    @include flex-aligned(center, center);
    width: 800px;
    flex: 1;

    &Mobile {
      width: 100%;
    }
  }
}

.contentContainer {
  @include flex-aligned(center, center);
  @include padded(vertical, l);

  flex: 1;
  width: 800px;

  &Mobile {
    max-width: 100%;
  }
}

.content {
  @include marged(all, s3);
  @include flex-aligned(center, center);
  @include bg-rgba-colored($color-grey1, 0.6);
  @include padded(all, m);

  flex: 1;
  flex-direction: column;
  border-radius: 16px;
  min-height: 300px;

  img {
    max-height: 100px;
    max-width: 100px;
  }

  .title {
    @include aligned(center);
    @include marged(top, none);
    @include marged(bottom, l);
    @include font-sized(l2);
  }

  .teamGroup {
    @include marged(vertical, s3);
    width: 300px;
  }

  &Mobile {
    width: 100%;
  }
}

.button {
  @include padded(horizontal, s3);
}

.playerName {
  @include font-sized(l);
  @include marged(all, none);
}